---
const { extraClasses, isEmbedded, id } = Astro.props;

const href = `#${id}`;

const classes = `text-2xl font-black mb-2 font-behrensschrift ${extraClasses}`;
const classesEmbedded = `text-2xl text-gray-600 visited:text-gray-500 hover:text-gray-500 any font-black mb-2 font-behrensschrift ${extraClasses}`;

---

<h2 {id} class=`${isEmbedded ? classesEmbedded : classes}`>
    { id ? ( <a {href} class=`${isEmbedded ? classesEmbedded : classes}`><slot /></a> ) : <slot /> }
</h2>
