---
const { level, image, alt, url, extraClasses = "" } = Astro.props;

const sizes = {
   "gold": "w-64",
   "silver": "w-48",
   "bronze": "h-16",
};

if (image === undefined) throw "Image not set";
if (alt === undefined) throw "Alt not set";
if (url === undefined) throw "url not set";
---

<li>
  <a href=`${url}` target="_blank" rel="external">
    <img src=`sponsors/${image}` class=`${sizes[level]} ${extraClasses}` alt=`${alt}` />
  </a>
</li>